@page "/products/edit/{id:int}"
@inject ProductApiService Api
@inject NavigationManager NavigationManager

<PageTitle>
    Product @product?.Name
</PageTitle>

<h3>Product @product?.Name</h3>


<DeleteConfirmation @ref="deleteConfirmation" OnConfirmed="OnDeleteConfirmed">
    <p>Are your sure delete <strong>@product.Name</strong>?</p>
</DeleteConfirmation>

@if (product is not null)
{
    <EditForm Model="product" OnValidSubmit="HandleSubmit">

        <DataAnnotationsValidator />
        <FluentValidationValidator />

        <ValidationSummary />

        <div class="form-group">
            <label>
                Name:
                <InputText @bind-Value="product.Name" class="form-control" />
            </label>
        </div>
        <div class="form-group">
            <label>
                Description:
                <InputTextArea @bind-Value="product.Description" class="form-control" />
            </label>
        </div>

        <div class="form-group">
            <label>
                Price:
                <InputNumber @bind-Value="product.Price" class="form-control" />
            </label>
        </div>

        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" @onclick="RequestDelete">Delete</button>

            <button type="button" class="btn btn-secondary" @onclick="HandleSubmit">Second</button>
        </div>




    </EditForm>
}



@code {

    [Parameter]
    public int Id { get; set; }

    private Product product;

    protected override async Task OnParametersSetAsync()
    {
        product = await Api.GetById(Id);
    }

    private async Task HandleSubmit()
    {
        await Api.Update(product);

        NavigationManager.NavigateTo("/products");
    }

    private DeleteConfirmation deleteConfirmation;

    private async Task RequestDelete()
    {
        deleteConfirmation.Show();

    }

    private async Task OnDeleteConfirmed()
    {
        await Api.Remove(Id);
        NavigationManager.NavigateTo("/products");
    }

}
