@page "/counter"
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<CascadingValue Value="@CounterKey" Name="Message">
    <CascadingValue Value="@("info")" Name="Style">
        <CascadingValue Value="@currentCount">
            <ParentComponent />
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    private int currentCount = 0;

    private const string CounterKey = "count";

    private const int MaxCount = 10;


    protected override async Task OnInitializedAsync()
    {
        currentCount = await LocalStorage.GetItemAsync<int>(CounterKey);
    }

    private async Task IncrementCount()
    {
        currentCount++;

        if (currentCount > MaxCount)
            throw new InvalidOperationException($"Over limit. Maximum count is {MaxCount}.");

        await LocalStorage.SetItemAsync<int>(CounterKey, currentCount);
    }
}
