@page "/counter"
@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private const string CounterKey = "count";

   

    protected override async Task OnInitializedAsync()
    {
        currentCount = await LocalStorage.GetItemAsync<int>(CounterKey);
    }

    private async Task IncrementCount()
    {
        currentCount++;

        await LocalStorage.SetItemAsync<int>(CounterKey, currentCount);
    }
}
