@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<CascadingValue Value="@message" Name="Message">
    <CascadingValue Value="@alertStyle" Name="Style">
        <ParentComponent />
    </CascadingValue>
</CascadingValue>



@code {
    private string message = "Hello World!";

    private string alertStyle = "danger";
}