@page "/secret"
@attribute [Authorize]

<h3>Secret</h3>

<AuthorizeView Roles="developer">

    <Authorized>
        <div>Authorized. You are a developer</div>
    </Authorized>

    <NotAuthorized>
        <div>Not Authorized. For developer only</div>
    </NotAuthorized>

</AuthorizeView>

@code {

}
