@page "/secret"

<h3>Secret</h3>

<AuthorizeView Roles="developer">

    <Authorized>
        <div>Authorized. You are a developer</div>
    </Authorized>

    <NotAuthorized>
        <div>Not Authorized. For developer only</div>
    </NotAuthorized>

</AuthorizeView>

<AuthorizeView Policy="goldpartner">

    <Authorized>
        <div>Authorized. You are a gold partner</div>
    </Authorized>

    <NotAuthorized>
        <div>Not Authorized. For gold partner only</div>
    </NotAuthorized>

</AuthorizeView>


@code {

}
