@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">

        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

            <UserIdentity />
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">

                <ChildContent>
                    @Body
                </ChildContent>

                <ErrorContent>
                    <div class="alert alert-danger">
                        <p>@context</p>
                    </div>

                    <button class="btn btn-warning" @onclick="ResetError">Reset</button>
                </ErrorContent>

            </ErrorBoundary>

        </article>
    </main>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    private void ResetError() => errorBoundary?.Recover();
}
