
<AuthorizeView>
    <Authorized>
        <div>Hello @context.User.Identity?.Name</div>
    </Authorized>

    <Authorizing>
        <div>Authorizing...</div>
    </Authorizing>

    <NotAuthorized>
        <NavLink class="nav-link" href="login">
            <span class="oi oi-account-login" aria-hidden="true"></span> Login
        </NavLink>
    </NotAuthorized>
</AuthorizeView>
